* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --asosiy: #fff;
    --black: #3a3a3a;
    --blue: #168ADE;
    --second: #a8a8a8;
    --hover: #f1f1f1;
    --user-text: #a0d6ff;
}

img {
    pointer-events: none;
}

body {
    height: 100vh;
    background: var(--asosiy);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 360px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
}

.container .userBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 20px;
}

.userBox img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.userBox .userName {
    font-weight: 600;
    color: var(--black);
}

.userBox .userTime {
    color: var(--blue) !important;
}

.container .chatBox {
    overflow-y:auto;
    overflow-x: hidden;
    height: 450px;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-color: #ddf0ff;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(3);
        transform-origin: center;
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        transform-origin: center;
        opacity: 1;
    }
}

.chatBox span {
    padding: 5px;
    display: block;
    word-wrap: break-word;
    background: var(--user-text);
    margin-bottom: 8px;
    border-radius: 5px;
    position: relative;
    text-align: right;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
    max-width: 70%;
}

.chatBox .spanBoxR {
    float: right;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
}

.spanBoxR img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
}

.chatBox .spanBoxL {
    float: left;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    word-wrap: break-word;
}

.container .inputBox {
    padding: 10px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputBox .send  {
    border: none;
    color: var(--blue) !important;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

.inputBox .sendL {
    border: none;
    color: var(--blue) !important;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
    transform: rotate(180deg);
}

.inputBox input {
    width: 230px;
    height: 40px;
    margin-right: 10px;
    outline: none;
    border: none;
}

.inputBox #sendFile {
    display: none;
}

.inputBox .sendFileIcon {
    font-size: 1.5em;
    transform: rotate(45deg);
    color: var(--second);
    cursor: pointer;
}

#form .emojiIcon {
    font-size: 1.5em;
    color: var(--second);
    cursor: pointer;
    margin-right: 10px;
}

.inputBox #form {
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-width: 450px) {
    .container {
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .container .chatBox {
        height: 80%;
    }
}

@media screen and (max-width: 360px) {
    .inputBox input {
        width: 180px;
    }
}